@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#Cabeçalho {
    grid-area: header;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d9dfd4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo_img {
    width: 45px;
    height: auto;
    object-fit: contain;
}

.logo_texto {
    display: flex;
    flex-direction: column;
}

.logo_texto h3{
    background:linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo_texto p{
    color: #3e5d3d;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}


.header-direita{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.usuario-area{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.login-link{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #415140;
    transition: color 0.3s ease;
}

.login-link:hover{
    color: #F39430;
}

.carrinho-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carrinho img {
    width: 24px;
    height: auto;
    display: block;
    cursor: pointer;
}


.main_pagamento{
    display:grid;
    grid-template-columns: 2fr 1fr;
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;

}

.voltar{
    display: flex;
    align-items: center;
    transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
}

.voltar a{
    text-decoration: none;
    color: #808080;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.voltar a:hover{
    color: #5b8558;
}

.carrinho_produtos{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #6a9662;
    padding: 15px;
    border-radius: 15px;
    min-height: 50px;

}

.bloco_pdt{
   width: 100%;
   
}


.bloco_qtd{
    display: flex;
    
    justify-content: center;
}

.bloco_limpar{
    display: flex;
    justify-content: flex-end;
    height: 50%;
    align-items: center;
}

.bloco_limpar button{
    background-color: #F39430;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}

.bloco_limpar button:hover{
    background-color: #FBB944;
}

.Pagamento{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    margin-left: 20px;
    min-height: 100px;
    max-height: 200px;
    justify-content: center;
    align-items: center;

}

.Pagamento h2{
    color: #3e5d3d;
    font-family: 'Poppins',sans-serif;

}

.resumo_pedido span{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}

aside button{
    border-radius: 10px;
    padding: 10px;
    background-color: #f3830c;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition:  0.5s ease;
    animation: pulse;
}

aside button:hover{
    transform:  translateY(3px);
    animation: pulse 2s infinite; 
}



#listaprodutos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infodoproduto{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #3e5d3d;
    margin-left: 20px;
    flex-direction: column;

}


.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    gap: 15px;
}

.controle-quantidade {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding: 2px 8px;
    background-color: #ffffff;
}

.btn-qtd {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #4984e9;
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.btn-qtd:hover {
    color: #5cdc50;
    transform: scale(1.2);
}

.item_qtd {
    font-size: 16px;
    font-weight: 600;
    min-width: 20px;
    text-align: center;
    color: #333333;
}

.item-total {
    font-weight: bold;
    color: #ff6b00;
    min-width: 80px;
    text-align: right;
}

.btn-remover {
    background:none;
    border: none;
    color: #ff4d4d;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 5px;
    
}

.btn-remover:hover {
    color: #ff0000;
    transform: scale(1.1);
}

.carrinho-vazio {
    text-align: center;
    color: #707070;
    font-size: 16px;
    padding: 40px 0;
}

.item img{
    width: 120px;

    height: 120px;

    object-fit: cover;

    border-radius: 12px;
}

.deletar{
    background-color: red;
    border-radius: 10px;
    width: 5%;
    height: 10%;
    color: white;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    transition:  0.5s ease;
}

.deletar button{
    padding: 10px;
}


@keyframes pulse{
    
    50%{
        transform: scale(1.2);
    }
}

#rodape { 
    grid-area: roda; 
    background: #415140;
    color: white;
    padding: 60px 10% 30px;
    width: 100%;
    margin-top: 100px;
}

#rodape footer { 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 60px; 
    border-bottom: 1px solid rgba(255,255,255,0.1); 
    padding-bottom: 40px;
}

.footer-col { 
    width: 30%; 
}


.footer-col:nth-child(2) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.footer-col:nth-child(2) a {
    display: block;
    width: fit-content;
    margin: 0 auto 10px; 
}


.footer-logo-align {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icone-logo-principal {
    width: 40px;
    height: auto;
}

.footer-col h2 {
    margin-bottom: 0;
    color: white;
    font-family: 'Cinzel Decorative', serif; 
    font-size: 24px;
}


.footer-col h3 { 
    margin-bottom: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cinzel Decorative', serif;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start; 
}

.footer-col p, 
.footer-nav-list a,
.contato-item span { 
    color: #d9d9d9;
    text-decoration: none;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}

.footer-nav-list a:hover {
    color: #FBB944;
}


.contato-item { 
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.icone { 
    width: 22px;
    height: 22px;
    object-fit: contain;
    flex-shrink: 0;
}

.copyright { 
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: #d8d8d8;
    font-family: "Cinzel Decorative", serif;
    width: 100%;
}


@media (max-width: 900px) {
    #rodape footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-logo-align, .contato-item, .footer-nav-list {
        justify-content: center;
        align-items: center;
    }
    .footer-col { width: 100%; }
}

@media (max-width: 600px) {
    html,body{
        width: 100%;
        overflow-x: hidden;
    }
    .main_pagamento {
        display: flex;
        flex-direction: column;
    }
    .Pagamento {
        margin-left: 0;
    }
    #Cabeçalho{
        height: auto;
        padding: 15px 0;
        

    }

   
    nav{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;}

    #logo{
        flex-direction: column;
        gap: 10px;
        text-align: center;

    }

    #logo_img{
        width: 50px;
        height: auto;
        object-fit: contain;
    }

    .logo_texto{
        width: 100%;
        display: flex;
    }

    .logo_texto h3{
        font-size: 15px;
    }

    .logo_texto p{
        font-size: 15px;

    }

    .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    nav a{
        color: #000;
        text-decoration: none;
        font-family: 'Poppins',sans-serif;
        font-size: 13px;


    }

    .header-direita{
        display: flex;
        gap: 12px;
        align-items:center ;
    }

    .carrinho{
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 10px;
    }

    .carrinho img {
        width: 22px;
        height: auto;
        margin-left: 30px;
        display: block;        
    }

    .item button{
        padding: 10px;
        
    }

}


#container{
    min-height: 100vh;
}

#Cabeçalho{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d9dfd4;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo_img {
    width: 45px;
    height: auto;
    object-fit: contain;
}

.logo_texto {
    display: flex;
    flex-direction: column;
}

.logo_texto h3{
    background:linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo_texto p{
    color: #3e5d3d;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}


.header-direita{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.usuario-area{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.login-link{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #415140;
    transition: color 0.3s ease;
}

.login-link:hover{
    color: #F39430;
}

.carrinho-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carrinho img {
    width: 24px;
    height: auto;
    display: block;
    cursor: pointer;
}

#registro{
    display: flex;
    justify-content: center;
    padding: 90px 20px;
}

.registro-box{
    width: 100%;
    max-width: 700px;
}

.continuar{
    text-decoration: none;
    color: #5b8558;
    font-size: 15px;
    transition: 0.3s;
}

.continuar:hover{
    color: #e7853f;
}

.registro-box h1{
    margin-top: 25px;
    font-size: 54px;
    color: #415140;
}

.subtitulo{
    margin-top: 12px;
    margin-bottom: 40px;
    color: #5b8558;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    margin-bottom: 10px;
    color: #415140;
    font-weight: 500;
}

form input,
form textarea{
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 16px;
    padding: 18px;
    margin-bottom: 25px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: white;
}

form textarea{
    resize: none;
    height: 120px;
}

form input:focus,
form textarea:focus{
    border: 1px solid #e7853f;
}

.btn-enviar{
    height: 60px;
    border: none;
    border-radius: 16px;
    background-color: #d98654;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-enviar:hover{
    background-color: #c87342;
}

#rodape{
    background: #415140;
    color: white;
    padding: 60px 10% 30px;
    width: 100%;
    margin-top: 100px;
}

#rodape footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 40px;
}

.footer-col{
    width: 30%;
}

.footer-col:nth-child(2){
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-col:nth-child(2) a{
    display: block;
    width: fit-content;
    margin: 0 auto 10px;
}

.footer-logo-align{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icone-logo-principal{
    width: 40px;
    height: auto;
}

.footer-col h2{
    margin-bottom: 0;
    color: white;
    font-family: 'Cinzel Decorative', serif;
    font-size: 24px;
}

.footer-col h3{
    margin-bottom: 20px;
    font-size: 20px;

    background: linear-gradient(to bottom, #ff6600, #f3830c, #FBB944);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'League Spartan', sans-serif;
}

.footer-nav-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.footer-col p,
.footer-nav-list a,
.contato-item span{
    color: #d9d9d9;
    text-decoration: none;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
}

.footer-nav-list a:hover{
    color: #FBB944;
}

.contato-item{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.icone{
    width: 22px;
    height: 22px;
    object-fit: contain;
    flex-shrink: 0;
}

.copyright{
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: #d8d8d8;
    font-family: "Cinzel Decorative", serif;
    width: 100%;
}

@media (max-width: 900px){

    #rodape footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo-align,
    .contato-item,
    .footer-nav-list{
        justify-content: center;
        align-items: center;
    }

    .footer-col{
        width: 100%;
    }
}

@media (max-width:600px){

    html,
    body{
        width: 100%;
        overflow-x: hidden;
    }

    #container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #Cabeçalho{
        height: auto;
        padding: 15px 0;
    }

    nav{
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: center;
    }

    #logo{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    #logo_img{
        width: 50px;
        height: auto;
        object-fit: contain;
    }

    .logo_texto{
        width: 100%;
        display: flex;
    }

    .logo_texto h3{
        font-size: 15px;
    }

    .logo_texto p{
        font-size: 15px;
    }

    .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    nav a{
        color: #000;
        text-decoration: none;
        font-family: 'Poppins',sans-serif;
        font-size: 13px;
    }

    .header-direita{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 25px;
        margin-top: 5px;
    }

    .carrinho{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carrinho img{
        width: 24px;
        height: auto;
        margin-left: 0;
    }

    .registro-box h1{
        font-size: 38px;
    }

    .subtitulo{
        font-size: 14px;
    }

    form input,
    form textarea{
        padding: 15px;
    }

    .btn-enviar{
        height: 55px;
        font-size: 16px;
    }
}